{% load static %}
<div class="ingredients-editor-widget">
  <input
    type="hidden"
    name="{{ widget.name }}"
    id="id_{{ widget.name }}"
    value="{{ widget.value|escapejs }}"
  />
  <button
    type="button"
    class="btn btn-secondary"
    id="edit_ingredients_button_{{ widget.name }}"
  >
    Edit Ingredients
  </button>

  <!-- Modal container -->
  <div
    id="ingredients_modal_{{ widget.name }}"
    class="ingredients-modal"
    style="display: none"
  >
    <div class="ingredients-modal-content">
      <h3>Edit Meal Ingredients</h3>
      <div id="ingredients_list_{{ widget.name }}">
        {% for ingredient in widget.ingredients %}
        <div class="ingredient-item">
          <label>Name:</label>
          <input
            type="text"
            class="ingredient-name"
            value="{{ ingredient.name }}"
          /><br />
          <label>Alternative:</label>
          <input
            type="text"
            class="ingredient-alternative"
            value="{{ ingredient.alternative }}"
          /><br />
          <button type="button" class="remove-ingredient">Remove</button>
          <hr />
        </div>
        {% endfor %}
      </div>
      <button type="button" id="add_ingredient_{{ widget.name }}">
        Add Ingredient
      </button>
      <button type="button" id="save_ingredients_{{ widget.name }}">
        Save
      </button>
      <button type="button" id="cancel_ingredients_{{ widget.name }}">
        Cancel
      </button>
    </div>
  </div>
</div>

<!-- Inline CSS -->
<style>
  .ingredients-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  .ingredients-modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    max-height: 80%;
    overflow-y: auto;
  }
  .ingredient-item {
    margin-bottom: 10px;
  }
</style>

<!-- Inline JavaScript -->
<script>
  (function ($) {
    $(document).ready(function () {
      var widgetName = "{{ widget.name }}";
      $("#edit_ingredients_button_" + widgetName).on("click", function (e) {
        e.preventDefault();
        e.stopPropagation();
        $("#ingredients_modal_" + widgetName).show();
      });
      $("#cancel_ingredients_" + widgetName).on("click", function (e) {
        e.preventDefault();
        e.stopPropagation();
        $("#ingredients_modal_" + widgetName).hide();
      });
      $("#add_ingredient_" + widgetName).on("click", function (e) {
        e.preventDefault();
        e.stopPropagation();
        var ingredientHtml =
          '<div class="ingredient-item">' +
          "<label>Name:</label>" +
          '<input type="text" class="ingredient-name" value="" /><br />' +
          "<label>Alternative:</label>" +
          '<input type="text" class="ingredient-alternative" value="" /><br />' +
          '<button type="button" class="remove-ingredient">Remove</button>' +
          "<hr /></div>";
        $("#ingredients_list_" + widgetName).append(ingredientHtml);
      });
      $("#ingredients_list_" + widgetName).on(
        "click",
        ".remove-ingredient",
        function (e) {
          e.preventDefault();
          e.stopPropagation();
          $(this).closest(".ingredient-item").remove();
        }
      );
      $("#save_ingredients_" + widgetName).on("click", function (e) {
        e.preventDefault();
        e.stopPropagation();
        var ingredients = [];
        $("#ingredients_list_" + widgetName + " .ingredient-item").each(
          function () {
            var name = $(this).find(".ingredient-name").val();
            var alternative = $(this).find(".ingredient-alternative").val();
            ingredients.push({ name: name, alternative: alternative });
          }
        );
        $("#id_" + widgetName).val(JSON.stringify(ingredients));
        $("#ingredients_modal_" + widgetName).hide();
      });
    });
  })(django.jQuery);
</script>
